{% extends 'base.html.twig' %}

{% block body %}
    <table class="table">
        <tbody>
        {% for user in users %}
            <tr>
                <td><a href="/users/{{ user.id }}">{{ user.username }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
