{% extends 'base.html.twig' %}

{% block body %}
    <div class="card" style="margin-bottom: 3%">
        <div class="card-header">{{ user.username }}</div>
        <div class="card-body">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}